.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.App-content{
  border: 2px solid #282c34;
  border-radius: 10px 10px;
  color: #282c34;
  padding: 0px 30px 30px 30px;
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
}

.App-content
button{
  border-radius: 12px;
  padding: 5px 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.flex-col{
  display: flex;
  flex-basis: 35%;
  flex-direction: column;
  align-self: flex-end;
}

.flex-col-input{
  flex-basis: 65%;
  flex-direction: column;
}

.App-content
h1{
  text-align: center;
}
